name: CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup Node.js environment
      uses: actions/setup-node@v2.1.1
    - name: cspell
      run: npx cspell "**/*"
    - name: cspell for ./.github
      run: npx cspell ".github/**/*"
    - name: prettier
      run: npx prettier --check "**/*.{md,yaml,yml}"
    - name: prettier for ./.github
      run: npx prettier --check "./github/**/*.{md,yaml,yml}"
