name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      # 1. Reformat
      ## 1.1 checkout
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          # Make sure the actual branch is checked out when running on pull requests
          ref: ${{ github.head_ref }}
      ## 1.2 do reformat
      - name: Prettify code
        uses: creyD/prettier_action@8c18391fdc98ed0d884c6345f03975edac71b8f0 # v4.6
        with:
          prettier_options: -w -u .github/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
      # 2. Linting
      ## 2.1 checkout again to opt out push permission
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Setup Node.js environment
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
      - name: yarn install
        run: yarn
      ## 2.2 do lints
      - name: cspell
        run: yarn lint:cspell
      - name: cspell for ./.github
        run: yarn lint:cspell-github
      - name: prettier
        run: yarn lint:prettier
  fossa-scan:
    runs-on: ubuntu-latest
    environment: main
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: fossas/fossa-action@47e40022a8733be19f15bb8467c828ee8991f83e # main
        with:
          api-key: ${{secrets.FOSSA_API_KEY}}
