name: Pull Request First Interaction
on:
  pull_request:
    branches: [main]
    types: [opened]

jobs:
  post-comment:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
    - name: post comments
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN}}
        URL: ${{github.event.pull_request.html_url}}
      run:
        gh pr comment -F ./.github/pull-request-first-comment.md "${URL}"
