name: Pull Request First Interaction
on:
  pull_request:
    branches: [main]
    types: [opened]

jobs:
  post-comment:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - name: post comments
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN}}
        URL: ${{github.event.pull_request.html_url}}
      run:
        gh pr comment -F ./.github/pull-request-first-comment.md "${URL}"
